.navbar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    position:  fixed;
    width: 100%;
    min-height: 75px;
    padding: 1rem;
    background-color: rgb(177, 228, 228);
    color: rgb(219, 65, 65);
}

.navbar_links {
    display: flex;
}

.navbar_link {
    padding: 0 0.3rem;
    color: inherit;
}

.navbar_burger {
    width: 40px;
    height: 40px;
    background: transparent ;
    color: inherit;
    display: none;
}

@media screen and (max-width: 767px) { 
    .navbar_links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;

        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        background-color: rgb(177, 228, 228);
    }

    .show-nav .navbar_links {
        right: 0;
        width: 100vw;
        visibility: visible;

    }

    .navbar_item::after {
        content: "";
        display: block;
        margin: 0;
        width: 3vw;
        height: 1px;
        background: wheat;
    }
    .navbar_link{
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }
    .navbar_burger{
       display: block;
       position: fixed;
       top: 1rem;
       right: 1rem;
       border: none;
    }
    .navbar_burger:hover{
        cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background:  rgb(219, 65, 65);;
        transition: all .5s ease-in-out;
    }
    .burger-bar::before,
    .burger-bar::after{
        content: "";
        position: absolute;
        left: 0;
    }
    .burger-bar::before {
        transform: translateY(-12px);
    }
    .burger-bar::after {
        transform: translateY(12px);
    }
    .show-nav .burger-bar{
        width: 0;
        background: transparent;
    }
    .show-nav .burger-bar::before{
        transform: rotate(45deg);
    }
    .show-nav .burger-bar::after{
        transform: rotate(-45deg);
    }

}