.carousel-root {
    width: 30% !important;
    height: auto;
    display: flex;
    align-items: center;
    margin: 1rem;
    flex-direction: column;
}

@media screen and (max-width: 900px){
    .carousel .slide img {
        width: 100%;
        height: 40vh;
        object-fit: cover;

    }

    .carousel-root{
        display: flex;
        flex-wrap: wrap;
    }
}

